/* customize */

#container {
	font-family: Arial;
	margin: 7% auto 0px auto;
	width: 400px;
}

#container label {
	margin-bottom: 10px 0px 2px 0px;
}

#container input[type=text],
#container input[type=password],
#container textarea {
	padding: 4px;
	width: 200px;
}

#container input[type=radio] {
	margin: 8px 4px 8px 4px;
}

#container input[type=submit] {
	display: block;
	margin: 10px auto 0px auto;
	width: 80px;
}

#container select {
	margin: 5px;
}

#container p.error_mesg {
	margin: 5px 0px 20px 0px;
	width: 350px;
}
